html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
}
.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app-bar {
  display: flex;
  height: 60px;
  background-color: #2196f3;
  color: #fff;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
}
.footer {
  height: 35px;
}
.message {
  width: 70%;
  background-color: #ccc;
  margin: 10px
}
.incoming {
  align-self: flex-end
}
.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 0;
}
