.message {
  width: 70%;
  margin: 10px;
  padding: 10px;
  background-color: #E0E0E0;
  border-radius: 6px;
}
.thinking {
  background-color: #BDBDBD;
}
.incoming {
  align-self: flex-end;
  background-color: #BBDEFB;
}
.incoming.thinking {
  background-color: #448AFF;
}

